@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin:0;
    padding:0;
    border:0;
}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.hero {
    background: url(asset/images/the-activation-foundation-website-favicon-white.png) no-repeat center center;
    
}

.name {
    color: azure;
    font-family: poppins, sans-serif;
}

.menu {
    color: azure;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

nav ul a {
    text-decoration: none;
}