@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin:0;
    padding:0;
    border:0;
}

nav {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.hero {
    background-image: url(asset/images/the-activation-foundation-website-favicon-white.png);
    background-size: cover;
}

.name {
    
}

.menu {
    
}